<div class="row">
  <div class="col-sm-12">
    <span class="h5"> Telecom Services </span>
  </div>
</div>
<hr>

<div class="row">
  <app-service-widget *ngFor="let service of telecomServices" [service]="service" [iconStyle]="service.iconStyle"
    class="col-lg-4 col-md-6 col-sm-12">
  </app-service-widget>
</div>

<div class="row">
  <div class="col-sm-12">
    <span class="h5"> Education Services </span>
  </div>
</div>
<hr>

<div class="row">
  <app-service-widget *ngFor="let service of eduServices" [service]="service" [iconStyle]="service.iconStyle"
    class="col-md-6 col-sm-12"></app-service-widget>
</div>
<div class="row">
  <div class="col-sm-12">
    <span class="h5"> Goverment Services </span>
  </div>
</div>
<hr>

<div class="row">
  <app-service-widget *ngFor="let service of govServices" [service]="service" [iconStyle]="service.iconStyle"
    class="col-md-6 col-sm-12">
  </app-service-widget>
</div>