
<div class="row">

    <div class="col-sm-12">

      <span class="h5"> Basic services  </span>
    </div>
  </div>

  <hr>

<div class="row">
  <div class="col-md-6 col-sm-12">
      <a [routerLink]="['/balance-inquiry']" class="card-block clearfix" style="text-decoration: none;">
    <div    class="card card-stats animated zoomIn">
      <div class="card-body ">
        <div class="row">
          <div class="col-5 col-md-4">
            <div class="icon-big text-center icon-warning">
              <i class="nc-icon nc-money-coins"></i>
            </div>
          </div>
          <div class="col-7 col-md-8">
            <div class="numbers">
              <p class="card-title">Balance Inquiry
                <p>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer ">
        <hr>
        <div class="stats">
         check card balance
        </div>
      </div>
    </div>
    </a>
  </div>

  <div class="col-md-6 col-sm-12">
    <a [routerLink]="['/electricity']" class="card-block clearfix" style="text-decoration: none;">
    <div    class="card card-stats animated zoomIn">
      <div class="card-body ">
        <div class="row">
          <div class="col-5 col-md-4">
            <div class="icon-big text-center icon-warning">
              <i class="nc-icon nc-bulb-63 text-warning"></i>
            </div>
          </div>
          <div class="col-7 col-md-8">
            <div class="numbers">

              <p class="card-title">Electricity Serivce
                <p>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer ">
        <hr>
        <div class="stats">
          electricity purchase
        </div>
      </div>
    </div>
    </a>
  </div>

  <div class="col-md-6 col-sm-12">
      <a [routerLink]="['/ipin']" class="card-block clearfix" style="text-decoration: none;">

    <div    class="card card-stats animated zoomIn">
      <div class="card-body ">
        <div class="row">
          <div class="col-5 col-md-4">
            <div class="icon-big text-center icon-warning">
              <i class="nc-icon nc-lock-circle-open text-danger"></i>
            </div>
          </div>
          <div class="col-7 col-md-8">
            <div class="numbers">
              <p class="card-title">IPIN
                <p>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer ">
        <hr>
        <div class="stats">
          generate , update
        </div>
      </div>
    </div>
    </a>
  </div>



  <div class="col-md-6 col-sm-6">
      <a [routerLink]="['/card-tran']" class="card-block clearfix" style="text-decoration: none;">

      <div    class="card card-stats animated zoomIn">
        <div class="card-body ">
          <div class="row">
            <div class="col-5 col-md-4">
              <div class="icon-big text-center icon-warning">
                <i class="nc-icon nc-credit-card text-primary"></i>
              </div>
            </div>
            <div class="col-7 col-md-8">
              <div class="numbers">

                <p class="card-title">Transfer
                  <p>
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer ">
          <hr>
          <div class="stats">
            card  to card, card to acount
          </div>
        </div>
      </div>
      </a>
    </div>
</div>
