<div class="row">
    <div class="col-md-12">

        <nav aria-label="breadcrumb" role="navigation">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a [routerLink]="['/dashboard/gov-tele']">Gov-Tele Services</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">MOHE-arab</li>
            </ol>
        </nav>
    </div>
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <div class="card-body">
                        <div class="text-center">
                    <h3> Coming Soon ..</h3>
                  </div>
                </div>
            </div>
        </div>
    </div>
  </div>
