<div class="row">
    <div class="col-md-12">

        <nav aria-label="breadcrumb" role="navigation">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a [routerLink]="['/gov-tele']">Gov-Tele Services</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">Cutomes</li>
            </ol>
        </nav>
    </div>
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <div class="card-body">
                    <form [formGroup]="customsForm" (ngSubmit)="onSubmit()">



                        <div class="form-row">



                            <div class="form-group col-12">
                                <label>Phone Number</label>
                                <input type="text" formControlName="paymentInfo" class="form-control" [ngClass]="{ 'is-invalid': customsForm.get('paymentInfo').errors && (customsForm.get('paymentInfo').touched
                               || customsForm.get('paymentInfo').dirty)}" />
                                <div *ngIf="customsForm.get('paymentInfo').errors" class="invalid-feedback">
                                    <div *ngIf="customsForm.get('paymentInfo').errors.required"> phone number is
                                        required
                                    </div>

                                </div>
                            </div>



                            <div class="form-group col-12">
                                <label>Invoice Number</label>
                                <input type="text" formControlName="invoiceNumber" class="form-control" [ngClass]="{ 'is-invalid': customsForm.get('invoiceNumber').errors && (customsForm.get('invoiceNumber').touched
                               || customsForm.get('invoiceNumber').dirty)}" />
                                <div *ngIf="customsForm.get('invoiceNumber').errors" class="invalid-feedback">
                                    <div *ngIf="customsForm.get('invoiceNumber').errors.required"> invoiceNumber Number
                                        is required
                                    </div>

                                </div>
                            </div>





                            <div class="form-group col-12">
                                <label> Card Number</label>
                                <input type="text" formControlName="PAN" class="form-control" [ngClass]="{ 'is-invalid': customsForm.get('PAN').errors && (customsForm.get('PAN').touched
                             || customsForm.get('PAN').dirty)}" />
                                <div *ngIf="customsForm.get('PAN').errors" class="invalid-feedback">
                                    <div *ngIf="customsForm.get('PAN').errors.required">Card Number is required
                                    </div>
                                    <div
                                        *ngIf="customsForm.get('PAN').errors.minlength ||  customsForm.get('PAN').errors.maxlength">
                                        card number must be 16 or 19 characters</div>
                                </div>
                            </div>








                            <div class="form-group col-12">
                                <label>Expiry Date</label>
                                <input #expDatePick type="text" bsDatepicker
                                    [bsConfig]="{dateInputFormat: 'YYMM' , minMode: 'month'}" #dp="bsDatepicker"
                                    formControlName="expDate" class="form-control" [ngClass]="{ 'is-invalid': customsForm.get('expDate').errors && (customsForm.get('expDate').touched
                              || customsForm.get('expDate').dirty) }" />
                                <div *ngIf="customsForm.get('expDate').errors" class="invalid-feedback">
                                    <div *ngIf="customsForm.get('expDate').errors.required"> Expiry date is
                                        required</div>
                                </div>
                            </div>

                            <div class="form-group col-12">
                                <label>Amount</label>
                                <input type="text" inputMode="numeric" pattern="([0-9]*[.])?[0-9]+"
                                    formControlName="tranAmount" class="form-control" [ngClass]="{ 'is-invalid': customsForm.get('tranAmount').errors && (customsForm.get('tranAmount').touched
                           || customsForm.get('tranAmount').dirty)}" />
                                <div *ngIf="customsForm.get('tranAmount').errors" class="invalid-feedback">
                                    <div *ngIf="customsForm.get('tranAmount').errors.required"> amount is required
                                    </div>
                                    <div *ngIf="customsForm.get('tranAmount').errors.min">
                                        invalid amount </div>
                                </div>
                            </div>



                            <div class="form-group col-12">
                                <label>IPIN</label>
                                <input type="password" formControlName="IPIN" class="form-control" [ngClass]="{ 'is-invalid': customsForm.get('IPIN').errors && (customsForm.get('IPIN').touched
                              || customsForm.get('IPIN').dirty)}" />
                                <div *ngIf="customsForm.get('IPIN').errors" class="invalid-feedback">
                                    <div *ngIf="customsForm.get('IPIN').errors.required">IPIN is required</div>
                                    <div *ngIf="customsForm.get('IPIN').errors.minlength">IPIN must be 4
                                        characters</div>
                                    <div *ngIf="customsForm.get('IPIN').errors.maxlength">IPIN must be 4
                                        characters</div>

                                </div>
                            </div>

                        </div>
                        <div class="text-center">
                            <button class="btn btn-primary">Submit</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>



<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fca0a0" type="ball-clip-rotate-multiple">

    <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>




<ng-template #template>
    <div class="modal-header">
        <h4 class="modal-title pull-left" style="color: #dc3545" *ngIf="reponsecode===502 || reponsecode===504
      ||reponsecode===500 || reponsecode===0">error</h4>
        <h4 class="modal-title pull-left" style="color: #28a745" *ngIf="reponsecode===200">success</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">

        <div class="invalid-feedback d-block" *ngIf="reponsecode===502">
            <h6> Transaction Time : {{error.error.details.tranDateTime}} </h6>

            <h6> responseMessage : {{error.error.details.responseMessage}} </h6>
            <h6> responseStatus : {{error.error.details.responseStatus}} </h6>
            <h6> tranCurrency : {{error.error.details.tranCurrency}} </h6>
            <h6> PAN : {{error.error.details.PAN}} </h6>
            <h6> responseCode : {{error.error.details.responseCode}} </h6>

        </div>


        <div class="invalid-feedback d-block" *ngIf="reponsecode===0">
            <h6> Message : Please check your internt connection </h6>
        </div>


        <div class="invalid-feedback d-block" *ngIf="reponsecode===500">
            <h6> Message : Some thing went wrong with server .. Contact us </h6>
        </div>


        <div class="invalid-feedback d-block" *ngIf="reponsecode===504">
            <h6> Message : EBS connection problem .. Contact us </h6>
        </div>





        <div class="valid-feedback d-block" *ngIf="reponsecode===200">
            <h6> Transaction Time : {{successResponse.ebs_response.tranDateTime}} </h6>

            <h6> PAN : {{successResponse.ebs_response.PAN}} </h6>
            <h6> tranAmount : {{successResponse.ebs_response.tranAmount}} </h6>
            <h6> responseMessage : {{successResponse.ebs_response.responseMessage}} </h6>
            <h6> tranCurrency : {{successResponse.ebs_response.tranCurrency}} </h6>
            <h6> responseStatus : {{successResponse.ebs_response.responseStatus}} </h6>

        </div>
    </div>
</ng-template>