/* You can add global styles to this file, and also import other style files */
.card label {
  font-size: 0.8571em;
  margin-bottom: 5px;
  color:
  #1a1a1a;
}
.form-check .form-check-label {
  padding-left: 15px;
}
